openapi: 3.1.0
info:
  title: Checkout.com Customers Payments API
  description: 'Checkout.com is a global payment processor offering card acquiring, alternative

    payments, payouts, tokenization, customers, instruments, and notification workflows

    via a single API. This OpenAPI is a best-effort partial spec derived from the public

    API reference at https://api-reference.checkout.com/.'
  version: '2026-05-23'
  contact:
    name: Checkout.com Developer Support
    url: https://api-reference.checkout.com/
  license:
    name: Proprietary
servers:
- url: https://api.checkout.com
  description: Production
- url: https://api.sandbox.checkout.com
  description: Sandbox
security:
- BearerAuth: []
tags:
- name: Payments
paths:
  /payments:
    post:
      tags:
      - Payments
      summary: Request a payment or payout
      operationId: requestPayment
      responses:
        '201':
          description: Payment created
    get:
      tags:
      - Payments
      summary: Retrieve list of payments
      operationId: listPayments
      responses:
        '200':
          description: A list of payments
  /payments/{id}:
    parameters:
    - $ref: '#/components/parameters/PaymentId'
    get:
      tags:
      - Payments
      summary: Get payment details
      operationId: getPayment
      responses:
        '200':
          description: Payment details
  /payments/{id}/captures:
    parameters:
    - $ref: '#/components/parameters/PaymentId'
    post:
      tags:
      - Payments
      summary: Capture a payment
      operationId: capturePayment
      responses:
        '202':
          description: Capture accepted
  /payments/{id}/refunds:
    parameters:
    - $ref: '#/components/parameters/PaymentId'
    post:
      tags:
      - Payments
      summary: Refund a payment
      operationId: refundPayment
      responses:
        '202':
          description: Refund accepted
  /payments/{id}/voids:
    parameters:
    - $ref: '#/components/parameters/PaymentId'
    post:
      tags:
      - Payments
      summary: Void a payment
      operationId: voidPayment
      responses:
        '202':
          description: Void accepted
components:
  parameters:
    PaymentId:
      name: id
      in: path
      required: true
      description: The payment identifier (e.g. pay_xxx)
      schema:
        type: string
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: Secret API key as Bearer token (format `Bearer sk_...`).
    OAuth2:
      type: oauth2
      description: OAuth 2.0 client credentials flow
      flows:
        clientCredentials:
          tokenUrl: https://access.checkout.com/connect/token
          scopes:
            gateway: Access to gateway resources
            vault: Access to vault resources
